.weather-app{
    border: 6px solid rgb(255, 223, 175); 
    margin: 25px auto;
    background-color: #FFDEDE; 
    max-width: 950px;
    padding: 30px;
    font-family: Montserrat, sans-serif; 
}

h1{
    font-size: 40px;
}
#temperature{
    list-style-type: none ;
    font-size: 20px; 
    margin-left: 45px;
    margin-top: -60px;
}

#celsius{
    margin-left: 80px;
    margin-top: -27px;

}

#farenheit{
    margin-left: 102px;
    margin-top: -24px;

}
ul{
    list-style-type: none;
}


celsius:hover, farenheit:hover{
    opactiy: 0.7;
    color:blue;
    transition: all 200ms ease-in-out; 
}

.description{
text-transform: capitalize;
margin-left: 45px;
margin-bottom: -10px; 

}

.wind{
margin-left: 45px;
margin-top: 15px;
}

.link{
    text-align: center;
}